body {
  /*background-color: #7FDBFF;*/
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: arial;
  min-width: 960px;
}

h1 {
    /*background-image: url(whitelogo.png);*/
    font-family: arial;

}


p {

    font-family: arial;
    font-size: 20px;
}

h2{

  text-align: center;
  font-family: monospace;
  font-size: 30px;

}

h3{
  font-family: arial;
}

#cool {

  width: 100px;
  background-color: #ff0066;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;

}

#cool:hover

{
  cursor:pointer;
}

#yeet {

  width: 500px;
  border: 1px solid #CCCCCC;
  padding: 10px;
  margin: 10px;
  display: none;

}

#alis {

  font-family: arial, helvetica, sans-serif;
  cursor: pointer;

}

li {

  text-align: left;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-style: arial;


}

form {


}


table th {
  text-align: center;
  background-color: #333;
  color: lightgrey;
  padding: 4px 30px 4px 8px;
  font-family: arial;



}

table td {
  border: 1px solid #333;
  padding: 10px 8px 10px 8px;
}

#schedule table{
  border-collapse: collapse;
  text-align: center;
  margin-left: 28%;
  width: 70%;

#favS {

}

}

.header {
  padding: 50px;
  text-align: center;
  /*background: MediumSeaGreen;*/
  background: #20B2AA;

  color: white;
  font-size: 30px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /*font-family: arial;*/
  float: none;
  font-family: "Anonymous Pro",monospace;
}
/*font-family: "Anonymous Pro",monospace;
    font-weight: 700;
    font-style: normal;*/
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: all .3s;
}


/* Right-aligned link */
.navbar a.right {
  float: right;

}

/* Change color on hover */
.navbar a:hover {
  background-color: #666;
  color: white;
}

/* Active/current link */
.navbar a.active {
  --background-color: #666;
  -color: white;
}

#main {
    margin: 0 auto;
}

#add{
  float: left;

}

#signIn {
  text-align: left;
  padding: 32px;
  border: 2px solid black;

}

#boo{
  text-align: left;

}


.logout-link .button:hover {
  background-color: #666;
  color: white;
}

.button {
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  font-family: arial;
  /*outline: 1px red solid;*/
  bottom: 0;
  font-size: 16px;
  cursor: pointer;
  color: white;

}

table{
  border-collapse: collapse;
  text-align: center;
  float: none;
  padding: 20px;
}

.goals table{
  margin: auto;
}

.goals caption{
  font-family: "Anonymous Pro",monospace;
  font-size: 20px;
  padding: 3px;
}
.favhome table{
  margin-left: 50px;
}

.favhome h1{
  text-align: left;
  margin-left: 50px;
}

#goalsForm {
  text-align: left;
  padding: 30px;
  border: 2px solid #20B2AA;
  border-radius: 20px;
  width: 30%;
  margin: auto;

}

section{
  /*margin-left: 50px;*/

  /*margin-right: 700px;*/
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#demo {
  display: none;
}

.left {
  width: 40%;
  float: left;
  padding: 5px;
}

.right {
  width: 40%;
  float: left;
  padding: 5px;
}

.mid {
  margin-left:auto;
  margin-right:auto;
  padding: 10px;
}

.mid1 {
  text-align: center;
  padding: 30px;
  width: 400px;
  float: left;
}

#schedulesForm{
  text-align: left;
  padding: 30px;
  border: 2px solid #20B2AA;
  border-radius: 20px;
  width: 30%;
  margin: auto;

}

label {
  width: 150px;
  display: inline-block;
}

.menu {
  float: right;
}

input[type=button], input[type=submit], input[type=reset], button {
  background-color: #20B2AA;
  border: none;
  color: white;
  font-size: 15px;
  padding: 5px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}

.logout-link .button{
  padding: 10px 20px;
  float: right;
  font-family: "Anonymous Pro",monospace;
  transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;

}

input {
  font-size: 15px;
  padding: 5px 8px;
}

.helptext {
  font-size: 15px;
  font-style: italic;
  color: silver;
  display: block;
}

#signIn label{
  display: block;
  width: 100%
}

#signIn {
  margin: auto;
  width: 600px;
  padding: 30px;
  border: 2px solid #20B2AA;
  border-radius: 20px;
}

#signIn ul {
  font-size: 15px;
  font-style: italic;
  color: silver;
}

select {
  font-size: 15px;
  padding: 8px 20px;
}

#editTitle {
  text-align: left;
  padding: 10px 30px;
  border: 2px solid #20B2AA;
  border-radius: 20px;
  margin: 30px;
  width: 400px;
}

#addS, #editS {
  text-align: left;
  padding: 20px;
  border: 2px solid #20B2AA;
  border-radius: 20px;
  width: 400px;
  margin: auto;
  margin-right: 10px;
}

#addS {
  margin-left: 40px;
}

#conS {
  text-align: center;
  width: 100%;
}

#conS table{
  margin:auto;
}

#conS a{
  background-color: lightgrey;
  border: none;
  color: #20B2AA;
  font-size: 15px;
  padding: 5px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px;
  display: inline-block;

}

.content {
  width: 960px;
  margin: auto;
}

@media only screen and (max-width: 960px) {
  body{min-width: 320px;}
  .left, .mid1, #addS, #editS{
    float: none;
    width: 100%;
  }
  #signIn {
    width: 80%;
  }
  #addS, #editS {
    width: 320px;
    margin: 10px;
  }

  .content {
    width: 100%;
  }
}
